In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
data = pd.read_csv('data.csv')
data

        x    y  type
0     116   53     3
1     109  108     1
2     117  105     1
3     114   41     3
4      76   92     2
...   ...  ...   ...
5785  141   48     3
5786  141   57     3
5787  125   57     3
5788   71   84     2
5789  179   48     5

[5790 rows x 3 columns]